@using Hattmakare.Models.Order;

@using System.Security.Claims

@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

@model EditOrderViewModel
<form id="editOrderForm" asp-controller="Order" asp-action="EditOrder" asp-route-oid="@Model.Id" method="post">
    <div class="order-info-wrapper">
        <div class="order-info-child">
            <p>Order #</p>
            <div class="order-info-title">#@Model.Id</div>
        </div>
        <div class="order-info-child">
            <p>Kundens namn</p>
            <div class="order-info-title">@Model.CustomerName</div>
        </div>
        <div class="order-info-child">
            <p>Kundens telnr.</p>
            <div class="order-info-title">@Model.CustomerPhone</div>
        </div>
        <div class="order-info-child">
            <p>Pris</p>
            <div class="order-info-title">@Model.Price SEK</div>
        </div>
        <div class="order-info-child">
            <p>Status</p>
            <div class="order-info-title">@Model.Status</div>
        </div>
        <div class="order-info-child">
            <p>Startdatum</p>
            <div class="order-info-title action">
                <input asp-for="StartDate" id="order-startDate" value="@Model.StartDate" type="date" data-oid="@Model.Id" />
            </div>
        </div>
        <div class="order-info-child">
            <p>Slutdatum</p>
            <div class="order-info-title action">
                <input asp-for="EndDate" value="@Model.EndDate" type="date" />
            </div>
        </div>
        <div class="order-info-child">
            <div class="order-info-pro-title">
                <p>Prioritet</p>
                <p>⚡</p>
            </div>
            <div class="action">
                <div class="order-info-prio">
                    <div class="form-check form-switch">
                        <input asp-for="Priority" class="form-check-input" type="checkbox" checked="@Model.Priority">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order-hats-wrapper">
        @if (Model.Hats.Count > 0)
        {
            <div class="order-hats-header">
                <h5>Hattar</h5>
                <button data-userId="@userId" id="order-hat-all" class="btn btn-outline-primary btn-sm">Välj alla</button>
            </div>
            @for (int i = 0; i < Model.Hats.Count; i++)
            {
                <div class="order-hats-child">
                    <img class="order-hats-img" src="@Model.Hats[i].HatImageUrl" />
                    <p>@Model.Hats[i].HatName</p>
                   <div class="order-hats-name">
                        <i class="fa-solid fa-circle-info"></i>
                        <div class="order-hats-details">
                            <h3>Studenthatt</h3>
                            <img src="@Model.Hats[i].HatImageUrl" />
                            <h4>Information</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Pris</th>
                                        <th>Storlek</th>
                                        <th>Längd</th>
                                        <th>Bredd</th>
                                        <th>Djup</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.Hats[i].Price</td>
                                        <td>@Model.Hats[i].Size</td>
                                        <td>@Model.Hats[i].Length</td>
                                        <td>@Model.Hats[i].Width</td>
                                        <td>@Model.Hats[i].Depth</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>Material</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Namn</th>
                                        <th>Mängd</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var material in Model.Hats[i].Materials) {
                                        <tr>
                                            <td>@material.Name</td>
                                            <td>@material.Amount @material.Unit</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                   </div>
                    <select class="form-select order-hats-input"
                            asp-for="Hats[@i].UserId"
                            asp-items="Model.Users">
                        <option value="">Ingen</option>
                    </select>
                    <input type="hidden" asp-for="Hats[@i].HatId" />
                </div>
            }
        } else
        {
            <i>No hats in this order.</i>
        }
    </div>
    <div class="order-form-btns">
        <a href="/order/waybill?orderId=@Model.Id" class="order-save-btn btn btn-outline-primary btn-sm">Fraktsedel</a>
        <button class="btn btn-outline-primary btn-sm">Materiallista</button>
        <button class="btn btn-primary btn-sm">Spara order</button>
    </div>
</form>
<form asp-controller="Order" asp-action="DeleteOrder" asp-route-oid="@Model.Id" method="post">
    <button class="order-delete btn btn-danger btn-sm confirm-btn">Radera order</button>
</form>

