@using Hattmakare.Models.Order

@model OrderIndexViewModel

@{
    ViewBag.Title = "Ordrar";
}

<div class="order-container">
    <a asp-controller="Order" asp-action="New" class="btn btn-blue order-create">Skapa order</a>
    <div class="order-options">
        <form asp-controller="Order" asp-action="Index" method="get" id="search">
            <input type="text" name="searchQuery" value="@Context.Request.Query["query"]" placeholder="Sök kund..." class="form-control" />
            <button type="submit" class="btn btn-primary btn-sm btn-blue" >Sök</button>
        </form>
        <form method="get">
            <select asp-for="HatId" asp-items="Model.HatNames" class="form-select" onchange="this.form.submit()">
                <option value="">Alla hattar</option>
            </select>
        </form>
        <form asp-controller="Order" asp-action="Index" method="get" id="resetSearch">
            <button type="submit">
                <p>Rensa filtrering </p>
            </button>
        </form>
    </div>
    <form asp-controller="Order" asp-action="Index" method="get" class="filterByDate order-options">
        <div class="order-info-child">
            <p>Startdatum</p>
            <div class="order-info-title action date">
                <input type="date" name="StartDate"
                       value="@(Model.StartDate.HasValue ? Model.StartDate.Value.ToString("yyyy-MM-dd") : "")"/>
            </div>
        </div>
        <div class="order-info-child">
            <p>Slutdatum</p>
            <div class="order-info-title action date">
                <input type="date" name="EndDate"
                       value="@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString("yyyy-MM-dd") : "")" />
            </div>
        </div>
        <button class="btn btn-primary btn-sm mt-3 btn-sm btn-blue" type="submit">Sök</button>
    </form>

    <div id="boards-container">
        @foreach (var board in Model.OrderItems)
        {
            <div class="boards-wrapper">
                <h3>@board.Status</h3>
                <div class="board" data-board-id="@board.Id" ondragover="dragoverHandler(event)" ondrop="dropHandler(event)">
                    @foreach (var order in board.Orders)
                    {
                        <a class="board-item" data-item-id="@order.Id" draggable="true" ondragstart="dragstartHandler(event)">
                            <div class="board-item-side"></div>
                            @if (order.Priority)
                            {
                                <div class="item-prio">⚡</div>
                            }
                            <div class="item-header">
                                <div class="item-id">Order #@order.Id</div>
                                <div class="item-dates">@order.StartDate - @order.EndDate</div>
                            </div>
                            <div class="item-managers">
                                @if (order.Managers.Count > 0)
                                {
                                    @foreach (var name in order.Managers)
                                    {
                                        <div class="item-manager">
                                            <p>@name</p>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <i>Inga hanterare</i>
                                }
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>
