@using Hattmakare.Data.Entities

@model Hattmakare.Models.Order.MaterialOrderViewModel

<div class="container mt-5">
    <h2>Materiallista för Order #@Model.OrderId</h2>
    <hr />

    @if (Model.HatMaterials.Any())
    {
        <table class="table table-bordered table-striped mt-3">
            <thead class="table-light">
                <tr>
                    <th>Namn</th>
                    <th>Pris</th>
                    <th>Antal</th>
                    <th>Enhet</th>
                    <th>Dekoration</th>
                    <th>Leverantör</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var material in Model.HatMaterials)
                {
                    var materialprice = @material.Material.Price * (decimal)@material.Quantity;
                    <tr>
                        <td>@material.Material.Name</td>
                        <td>@materialprice.ToString("C")</td>
                        <td>@material.Quantity</td>
                        <td>@material.Material.Unit</td>
                        <td>
                            @if (material.Material.IsDecoration)
                            {
                                <span>Ja</span>
                            }
                            else
                            {
                                <span>Nej</span>
                            }
                        </td>
                        <td>@material.Material.Supplier</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning mt-4">
            Inga material hittades för denna order.
        </div>
    }

    <a asp-action="Index" asp-controller="Order" class="btn btn-secondary mt-4 no-print">Tillbaka till orderöversikt</a> <br />
    <button class="btn btn-secondary mt-3 no-print" onclick="window.print()">Skriv ut materiallista</button>
</div>
