@using Hattmakare.Models.Order;

@model NewOrderViewModel;

<div id="hat" class="order">
  <div id="hatList">  
    @foreach (var hat in Model.Hats)
    {
      <div class="hatItem" data-name="@hat.Name" data-id="@hat.Id">
        <img src="/assets/hats/@(hat.ImageUrl ?? "placeholder-image.png")" />
        <h2 class="name">@hat.Name</h2>
        <div class="details">
          <div class="item">
            <p>Storlek: </p>
            <p class="size">@hat.Size</p>
          </div>
          <div class="item">
            <p>Pris: </p>
            <p class="price">@hat.Price:-</p>
          </div>
        </div>
        <div class="counter">
          <button class="count-remove">-</button>
          <p class="count">0</p>
          <button class="count-add">+</button>
        </div>
      </div>
    }
  </div>
  <div id="cartContainer">
    <div id="cart">
    </div>
    <p id="total">Total: 0:- </p>
    <button>
      go to order
    </button>
  </div>
  <div id="settings">
    <form method="post">
      <select class="form-select order-customer-input"
        asp-for="CustomerId"
        asp-items="Model.Customers">
      </select>
      <input type="date" asp-for="StartDate" />
      <input type="date" asp-for="EndDate" />
      <input type="checkbox" asp-for="Priority" />

      <button type="submit">
        Skapa order
      </button>
    </form>
  </div>
  </div>