@using Hattmakare.Data.Entities
@using Hattmakare.Models.Order

@model WayBilViewModel

<div class="container my-5 border p-4 bg-white" id="waybill">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Fraktsedel</h2>
        </div>
        <div class="col text-end">
            <strong>Ordernummer:</strong> @Model.orderNumber<br />
            <strong>Datum:</strong> @DateTime.Now.ToString("yyyy-MM-dd")
        </div>
    </div>

    <hr />

    <div class="row mb-4">
        <div class="col">
            <h5>Avsändare</h5>
            <p>
                @(Model.sender.FirstName + " " + Model.sender.LastName)<br />
                @Html.Raw(Model.address)
            </p>

        </div>
        <div class="col">
            <h5>Mottagare</h5>
            <p>
                @(Model.reciver.FirstName + " " + Model.reciver.LastName)<br />
                
                @if (Model.reciver?.Address != null)
                {
                    <div>
                        @Model.reciver.Address.DeliveryAddress<br />
                        @Model.reciver.Address.PostalCode @Model.reciver.Address.City
                    </div>
                }
                else
                {
                    <div class="text-danger">Adress saknas</div>
                }
            </p>
        </div>
    </div>

   
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Produkt</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderHats)
            {
                var standardHat = item.Hat as Hat;
                <tr>
                    <td>@item.Hat.Name</td>
                    <td class="text-end"> @standardHat.Price.ToString("C")</td>
                </tr>
            }

            <tr class="table-light">
                <td><strong>Totalt vikt:</strong></td>
                <td class="text-end">
                    <input type="number" name="weight" value="@Model.weight" /> kg
                </td>

            </tr>

            <tr class="table-light">
                <td><strong>Kod för export:</strong></td>
                <td class="text-end">
                    <input type="number" value="@Model.Export" />
                </td>

            </tr>
            @if (Model.IsPriority == true)
            {
                <tr class="table-light">
                    <td><strong>Expressleverans:</strong></td>
                    <td class="text-end">@Model.prio.ToString("C")</td>
                </tr>
            }

            <tr class="table-light">
                <td><strong>Moms:</strong></td>
                <td class="text-end">@Model.tax.ToString("C")</td>
            </tr>
            <tr class="table-light">
                <td><strong>Totalpris inkl. moms:</strong></td>
                <td class="text-end">@Model.totalPrice.ToString("C")</td>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-secondary mt-3 no-print" onclick="window.print()">Skriv ut fraktsedel</button>


