@using Hattmakare.Models.Hats

@model List<HatViewModel>

<div id="hat">
    <form asp-controller="Hat" asp-action="SearchHat" method="get" id="search">
        <input type="text" name="searchTerm" placeholder="Sök hattar..." class="form-control" />
        <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" /></svg></button>
    </form>
  

  <div id="hatList">
    <a asp-controller="Hat" asp-action="AddHat" id="addNewHat">
      <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" /></svg>
        <span> Lägg till ny hatt </span>
      </div>
    </a>
    @foreach (HatViewModel hat in Model)
    {
        <div class="hatItem">
            <img src="/assets/hats/@(hat.ImageUrl ?? "placeholder-image.png")" />
            <div class="settings">
              <a asp-controller="Hat" asp-action="EditHat" asp-route-hid="@hat.Id" method="post">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" /></svg>
              </a>         
                <form asp-controller="Hat" asp-action="RemoveHat" asp-route-hid="@hat.Id" method="post">
                  <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z" /></svg></button>
                </form>
              </div>
              <h2>@hat.Name</h2>
                <div class="details">
                  <div class="top">
                      <p>Storlek: @hat.Size</p>
                      <p>Antal i lager: @hat.Quantity</p>
                  </div>
                  <div class="bottom">
                    <p class="price">@hat.Price:-</p>
                    <div class="measurements">
                     <img src="/assets/mesaurements.png" />
                      <div class="width">
                       <p>@hat.Width mm</p>
                      </div>
                      <div class="length">
                       <p>@hat.Length mm</p>
                      </div>
                      <div class="depth">
                       <p>@hat.Depth mm</p>
                      </div>
                    </div>
                  </div>

                </div>

        </div>
    }
  </div>
  <div id="hatPopup">
    
  </div>

</div>
